.add-category {
    form {
        display: flex;
        align-items: center;

        .input-field {
            margin: 0 .5rem;
            display: flex;
            flex-direction: column;
            position: relative;

            &:first-child {
                margin: 0 .5rem 0 0;
            }

            input {
                font-size: 1.1rem;
                padding: .25rem .8rem;
                margin-bottom: .5rem;
                border-radius: 5px;
                outline: none;
                background: transparent;
                border: 1px solid #000;
            }

            span {
                color: red;
                position: absolute;
                bottom: -1rem;
                left: 0;
                font-weight: 600;
            }
        }

        button {
            color: #fff;
            background: #080;
            font-size: 1.1rem;
            padding: .5rem .8rem;
            margin-top: -.5rem;
            width: 200px;
            border-radius: 5px;
            cursor: pointer;
            border: none;
            outline: none;
        }

        &.responsive-md {
            align-items: flex-start;
            flex-direction: column;

            .input-field {
                margin: 0;

                &:not(:last-child) {
                    margin-bottom: 1.2rem;
                }
            }

            button {
                margin-top: .5rem;
            }
        }
    }

    &.container {
        padding: .5rem 1rem 1.2rem;
    }
}